.accordion {
    &-collapse {
        & .accordion-body {
            & .list-group, ul, ol {
                & .accordion-item {
                    
                }
            }

        }
    }
}; 
.list {
    &-item {
        &.parent {
            & ~ .list-item {
                margin: {
                    left: map-get($spacers, 2);
                    right: map-get($spacers, 2);
                }
            };
        };
    };
}