mixin header-sidebar
    +offcanvas("end", "sidebar-header")
        +offcanvas-header
            h5.offcanvas-title Страницы
            +btn-close
        +offcanvas-body.py-2
            .d-flex.flex-column.h-100
                div.flex-fill
                    p Вы на
                    +list-item(true, false, false, "info").p-2
                        span Оглавление
                    +list('numbered', 'flush')
                        each page in ["Основные", "Дополнительные"]
                            +list-item
                                a.link=page
                div
                    +list-item
                        p.mb-0 Сделано


mixin header()
    header.position-fixed.top-0.end-0.header
        nav.navbar.bg-body-tertiary.header-activator
            +container-fluid.justify-content-end.p-0
                button.btn(type="button", data-bs-toggle="offcanvas", data-bs-target="#sidebar-header")
                    +icon('list')
        +header-sidebar
        