extends ./component/layouts/default

block vars
    - let title = "Книга"

//- block header
block main
    +container-fluid
        .col-12.p-3
            h3 Название
        .col-12
            h5 Содержание
            +list('numbered', 'flush')
                each page in ["Основные", "Дополнительные"]
                    +list-item
                        a.link(href="./test")=page
            



